#main-div {
	font-family: "Libre Baskerville", serif;
	padding-top: 50px;
}

#navbar {
	color: black;
}

.InlineMath {
	font-size: 15pt;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.title {
	font-size: 22pt;
}

.image-outer {
	max-width: 400px;
}


@media (min-width: 0px) {
	#navbar {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content {
		font-size: 10pt;
	}
	.InlineMath {
		font-size: 10pt;
		display: inline;
		margin-left: 2px;
		margin-right: 2px;
	}
	.padding {
		padding-left: 30px;
		padding-right: 30px;
	}
	.title {
		font-size: 22pt;
	}
	.image-outer {
		margin: auto;
		width: 50vw;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.logo{
		width: 120px;
	}
}

@media (min-width: 600px) {
	#navbar {
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding {
		padding-left: 15vw;
		padding-right: 15vw;
	}
	.InlineMath {
		font-size: 12pt;
		display: inline;
		margin-left: 5px;
		margin-right: 5px;
	}
	.main-content {
		font-size: 13pt;
	}
	.title {
		font-size: 26pt;
	}
	.image-outer {
		margin: auto;
		width: 50vw;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.logo {
		width: 120px;
	}
}

@media (min-width: 900px) {
	#navbar {
		padding-left: 15vw;
		padding-right: 15vw;
	}
	.padding {
		padding-left: 15vw;
		padding-right: 30vw;
	}
	.InlineMath {
		font-size: 12pt;
		display: inline;
		margin-left: 5px;
		margin-right: 5px;
	}
	.main-content {
		font-size: 13pt;
	}
	.title {
		font-size: 26pt;
	}
	.image-outer {
		margin: auto;
		width: 50%;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.logo{
		width: 150px;
	}
}

@media (min-width: 1366px) {
	#navbar {
		padding-left: 15vw;
		padding-right: 15vw;
	}
	.padding {
		padding-left: 15vw;
		padding-right: 45vw;
	}
	.main-content {
		font-size: 13pt;
	}
	.InlineMath {
		font-size: 15pt;
		display: inline;
		margin-left: 5px;
		margin-right: 5px;
	}
	.title {
		font-size: 30pt;
	}
}

.subtitle {
	color: #636363;
	font-size: 9pt;
}

.image {
	width: 100%;
	display: block;
}

.img-subtitle {
	margin: auto;
	max-width: 300px;
	width: 100%;
	font-size: 9pt;
	color: #636363;
	text-align: center;
}